@tailwind base;
@tailwind components;
@tailwind utilities;

.text-align-center {
  text-align: center;
  margin: auto auto;
}

.div-flex {
  display: flex;
}

.post-filter {
  margin-left: 20px;
}

.canvas {
  height: 800px;
  width: 1024px;
  align-content: center;
  margin: 0 auto;
}

.banner {
  width: 100%;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  box-shadow: 0 2px 12px -2px rgb(0 0 0 / 15%);
}